<div ng-controller="BasicSliderCtrl">
    <flex-slider slide="s in slides" animation="slide" animation-loop="true">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>

</div>

        <!--

            {
                fileName:"IMG_9827_forsidelav2.jpg",
                fullFilePath:"/images/forside/IMG_9827_forsidelav2.jpg",
                duration:4,
                fadeDuration:1,
                url:"",
                groupSet:0,
                imgHeight:397			}
            ,			{
                fileName:"IMG_3075_salon.jpg",
                fullFilePath:"/images/forside/IMG_3075_salon.jpg",
                duration:4,
                fadeDuration:1,
                url:"",
                groupSet:1,
                imgHeight:397			}
            ,			{
                fileName:"IMG_3076_salon.jpg",
                fullFilePath:"/images/forside/IMG_3076_salon.jpg",
                duration:4,
                fadeDuration:2,
                url:"",
                groupSet:2,
                imgHeight:397			}
        ]
        -->
