<h2>Personale</h2>
<p style="text-align: center;"><img style="box-shadow: 5px 5px 5px #ababab;" src="/images/yeoman.png" alt="IMG_3105_mette_jan2013.png" width="400" height="330" /><br /><strong> <br /></strong><strong>Mette Frikke</strong><br />Indehaver (Barsel)</p>
<table border="0" cellpadding="10" align="center">
    <tbody>
    <tr>
        <td>
            <p style="text-align: center;"><img style="box-shadow: 5px 5px 5px #ababab;" src="/images/yeoman.png" alt="IMG_0786_tanja.png" width="170" height="227" /><br /><strong><br />Tanja Pedersen<br /></strong>Assistent (Barsel) </p>
        </td>
        <td>
            <p style="text-align: center;"><strong><img style="box-shadow: 5px 5px 5px #ababab;" src="/images/yeoman.png" alt="IMG_1910_githa.png" width="170" height="227" /></strong></p>
            <p style="text-align: center;"><strong><strong>Githa Tobiasen<br /></strong></strong>Assistent </p>
        </td>
        <td>
            <p style="text-align: center;"><img style="box-shadow: 5px 5px 5px #ababab;" src="/images/yeoman.png" alt="IMG_3095_lotte_jan2013.png" width="170" height="227" /><br /><strong><br />Lotte Thyme<br /></strong><span>Elev </span></p>
        </td>
    </tr>
    </tbody>
</table>

